// ABOUT SECTION
.about {
  padding: 6rem $container-padding;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }

  &-image img {
    width: 450px;
    max-width: 100%;
  }

  &-content {
    max-width: 550px;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: $heading-color;
    }

    h3 {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      color: $heading-color;
    }

    p {
      color: $text-color;
      line-height: 1.8;
      margin-bottom: 1.5rem;
    }
  }
}

// SERVICES SECTION
.services {
  position: relative;
  padding: 8rem $container-padding;
  background-image: url("../img/about-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-bg {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 500px;
    background: #eee;
    border-radius: 50%;
    z-index: 0;
  }

  &-container {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: auto;
  }
}

// ICON BOX
.icon-box {
  width: 80px;
  height: 80px;
  background: $primary-color;
  margin: 0 auto 1.5rem;
  border-radius: 0 0 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 40px;
  }
}
