// ABOUT SECTION
.about {
  height: 90%;
  width: 90%;
  margin: 8%;
  padding-right: 6%;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  &-image img {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &-content {
    max-width: 550px;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: $heading-color;
    }

    h3 {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      color: $heading-color;
    }

    p {
      color: $text-color;
      line-height: 1.8;
      margin-bottom: 1.5rem;
    }
  }
}
// SERVICES SECTION
.services {
  padding: 70px 20px;
  background-image: url("./img/about-bg.png"); /* your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.services-header {
  text-align: center;
  max-width: 750px;
  margin: auto;
}

.services-header h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.services-header p {
  color: rgb(0, 0, 0);
}
/* ===== Cards Layout ===== */
.services-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
/* ===== Card ===== */
.service-card {
  background: #f3f3f3;
  padding: 45px 30px;
  text-align: center;
  border-radius: 16px;
  width: 280px;
  transition: 0.3s;
}
/* ===== Icon Box ===== */
.icon-box {
  position: relative;
  width: 90px;
  height: 100px;
  margin: 0 auto 20px;
}
/* Shield Shape */
.shield {
  width: 100%;
  height: 100%;
  fill: #0d3b73;        /* Dark blue */
  stroke: #f2c200;      /* Yellow border */
  stroke-width: 2;
  transition: 0.3s;
}
/* Icon */
.icon {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #f2c200;       /* Yellow */
  transition: 0.3s;
}
/* Hover */
.service-card:hover .icon {
  color: #ffffff;       /* Yellow → White */
}

.service-card:hover .shield {
  stroke: #ffffff;      /* Border white (optional) */
}
/* Text */
.service-card h3 {
  margin: 10px 0 5px;
}

.service-card span {
  color: #0d3bff;
  font-size: 14px;
}

.service-card p {
  color: #444;
  font-size: 14px;
}
