.footer {
  background: white;
  padding: 6rem $container-padding 3rem;
  color: #222;

  &-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

  &-col {
    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    h4 {
      margin-bottom: 1rem;
    }

    p {
      color: $text-color;
      line-height: 1.7;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.8rem;

        a {
          text-decoration: none;
          color: $text-color;
          transition: $transition-fast;

          &:hover {
            color: darken($heading-color, 10%);
          }
        }
      }
    }
  }
}
