// SKILLS SECTION
.skills {
  background-image: url("./img/skill-bg.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 8rem $container-padding;

  &-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    max-width: 1200px;
    margin: auto;
  }

  &-bg {
    flex: 1;
    padding: 4rem;
    border-radius: 20px;
    position: relative;
  }

  &-bars {
    flex: 1;
    position: relative;
    z-index: 1;
  }
}

.skill-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.bar {
  width: 100%;
  height: 12px;
  background: #e6e6e6;
  border-radius: 20px;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  width: 0;                 /* START FROM 0 */
  background: linear-gradient(90deg, #1f3b6f, #5fa3e3);
  border-radius: 20px;
  transition: width 1.6s ease;
}

// FEATURES SECTION
.features {
  position: relative;
  padding: 8rem $container-padding;
  background-image: url("./img/service-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  &-bg {
    position: absolute;
    bottom: -200px;
    left: -200px;
    width: 500px;
    height: 500px;
    background: #f2f3ff;
    border-radius: 50%;
    z-index: 0;
  }

  &-container {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: auto;
  }

  &-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
.feature-item {
  text-align: center;
}

.feature-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.feature-icon {
  width: 90px;
  height: 90px;
  border: 2px solid #3f51b5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  background: #fff;
}

.feature-line {
  height: 2px;
  width: 140px;
  background: #ddd;
  margin-left: 15px;
}

